WebChat/obj/project.nuget.cache
WebChat/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
WebChat/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
WebChat/obj/Debug/netcoreapp3.1/Razor/Views/Home/Chat.cshtml.g.cs
WebChat/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
WebChat/obj/Debug/netcoreapp3.1/WebChat.Views.dll
WebChat/obj/Debug/netcoreapp3.1/WebChat.TagHelpers.output.cache
WebChat/obj/Debug/netcoreapp3.1/WebChat.TagHelpers.input.cache
WebChat/obj/Debug/netcoreapp3.1/WebChat.RazorTargetAssemblyInfo.cs
WebChat/obj/Debug/netcoreapp3.1/WebChat.RazorTargetAssemblyInfo.cache
WebChat/obj/Debug/netcoreapp3.1/WebChat.RazorCoreGenerate.cache
WebChat/obj/Debug/netcoreapp3.1/WebChat.RazorAssemblyInfo.cs
WebChat/obj/Debug/netcoreapp3.1/WebChat.RazorAssemblyInfo.cache
WebChat/obj/project.assets.json
WebChat/obj/WebChat.csproj.nuget.g.targets
WebChat/obj/WebChat.csproj.nuget.g.props
WebChat/obj/WebChat.csproj.nuget.dgspec.json
WebChat/obj/Debug/netcoreapp3.1/staticwebassets/WebChat.StaticWebAssets.xml
WebChat/obj/Debug/netcoreapp3.1/staticwebassets/WebChat.StaticWebAssets.Manifest.cache
WebChat/obj/Debug/netcoreapp3.1/apphost.exe
WebChat/obj/Debug/netcoreapp3.1/WebChat.pdb
WebChat/obj/Debug/netcoreapp3.1/WebChat.genruntimeconfig.cache
WebChat/obj/Debug/netcoreapp3.1/WebChat.dll
WebChat/obj/Debug/netcoreapp3.1/WebChat.csprojAssemblyReference.cache
WebChat/obj/Debug/netcoreapp3.1/WebChat.csproj.FileListAbsolute.txt
WebChat/obj/Debug/netcoreapp3.1/WebChat.csproj.CoreCompileInputs.cache
WebChat/obj/Debug/netcoreapp3.1/WebChat.csproj.CopyComplete
WebChat/obj/Debug/netcoreapp3.1/WebChat.assets.cache
WebChat/obj/Debug/netcoreapp3.1/WebChat.Views.pdb
WebChat/obj/Debug/netcoreapp3.1/WebChat.MvcApplicationPartsAssemblyInfo.cache
WebChat/obj/Debug/netcoreapp3.1/WebChat.AssemblyInfoInputs.cache
WebChat/obj/Debug/netcoreapp3.1/WebChat.AssemblyInfo.cs
WebChat/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
WebChat/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
WebChat/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
WebChat/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
WebChat/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
WebChat/obj
WebChat/bin
